﻿@charset "utf-8";
/*globe*/
/***************** reset *****************/
body, ul, ol, h1, h2, h3, h4, h5, h6, form, ul, li, p, input, select, legend, textarea, dl, dd, dt, fieldset, table, th, td {
	margin:0;
	padding:0;
	word-break:break-all;
}
body {
	font:16px/1 "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53";
	-webkit-text-size-adjust:none;
	margin:0 auto;
}
div {
	margin:0 auto;
	word-break:break-all;
}
html {
	margin:0;
	padding:0;
}
ul, li {
	list-style:none;
}
a {/*color:#5b5a5a;*/
	text-decoration:none;
blr:expression(this.onFocus=this.blur());
	outline:none;
	cursor:pointer;
}
a:hover { /*color:#0064ab; */
	text-decoration:none;
}

.clear{ clear:both;}
/*main*/


.logo_img{
	width: 100%;
	height: 435px;
}
.w640{width:640px; margin: 0 auto;  position:relative;}


.hm_text { padding-top:36px; line-height:36px; font-size:28px; color:#540506; width:548px; margin:0 auto;}
.hm_text01 { padding-top:60px;}
.hm_text02 { padding-top:80px;}
.btn_bg a { background:url("../images/btn_bg.png")/*tpa=images/btn_bg.png*/ no-repeat; width:387px; height:106px; margin-bottom:8px; line-height:96px; font-size:30px; color:#fff; padding-left:106px;  display:block;}

.hm_btn { width:493px; height:106px; margin:0 auto; margin-top:50px;  }

.content { background:url("../images/t_w.png")/*tpa=images/t_w.png*/; border-radius:6px; width:560px; margin:0 auto; padding:20px; margin-top:30px; line-height:36px; min-height:280px; color:#000; font-size:30px;}
.content_img { width:480px; height:300px; margin:0 auto; position:relative;}

.subject_t { line-height:36px; padding-bottom:10px; font-weight:bold; box-shadow: 0,0,0,#fff;}

.content p { margin-bottom:15px; padding: 10px 10px; box-shadow: 0px 0px 10px 5px #C7C7C7;border-radius: 10px;}
.subject_t { line-height:36px; padding-bottom:10px; font-weight:bold; box-shadow: none !important;}
.content p input { margin-right:10px; width:22px; height:22px;}
.no_choice { text-align:center; font-size:30px; height:36px; line-height:36px; color:red; margin-top:30px;}

.enter_btn a{background-color: #E8EBED; width:240px; margin:0 auto; margin-top:20px; margin-bottom: 50px; height:80px; border-radius: 40px; line-height:80px; color:#77797E; font-size:26px; text-align:center; display:block;}
.enter_btn_2 a{background-color: #E8EBED; width:240px; margin:0 auto; margin-top:20px; margin-bottom: 50px; height:80px; border-radius: 40px; line-height:80px; color:#77797E; font-size:26px; text-align:center; display:block;}


.content_tl { background:url("../images/t_w.png")/*tpa=images/t_w.png*/; border-radius:6px; width:560px; margin:0 auto; padding:20px; margin-top:-10px; line-height:36px; min-height:280px; color:#FFF; font-size:24px;}
.content_tl p { margin-bottom:5px;}
.content_tl .p_left{ float:left;width:50%;}
.content_tl p input { margin-right:10px; width:22px; height:22px;}
.content_tl_img img { width:548px; height:360px; border-radius:8px; border:6px #FFF solid; margin:0 auto; }
.content_tl_t { line-height:36px; padding-bottom:6px; font-weight:bold;}

.subject_img { width:367px; margin:0 auto; margin-top:20px; position:relative;}
.subject_img span { position:absolute; bottom:12px; right:12px;}
.right { background:url("../images/right.png")/*tpa=images/right.png*/ no-repeat; width:180px; height:180px;}
.wrong { background:url("../images/wrong.png")/*tpa=images/wrong.png*/ no-repeat; width:180px; height:180px;}

.content_jd { background:url("../images/t_b.png")/*tpa=images/t_b.png*/; position:relative; border-radius:6px; width:560px; margin:0 auto; padding:20px; margin-top:30px; line-height:36px; min-height:420px; color:#450b0c; font-size:26px;}
.content_jd p { margin-bottom:12px;}
.content_jd span { position:absolute; left:50%;top:50%;margin-top:-90px;margin-left:-90px;}
.content_jd .ys {color: #d30101;}

.content_tljd { background:url("../images/t_b.png")/*tpa=images/t_b.png*/; position:relative; border-radius:6px; width:560px; margin:0 auto; padding:20px; margin-top:30px; line-height:36px; min-height:520px; color:#450b0c; font-size:28px;}
.content_tljd p { margin-bottom:12px;}
.content_tljd span { position:absolute; bottom:12px; right:12px;}
.content_tljd .ys {color: #d30101;}

.m_w640{width:640px; margin: 0 auto; background:url("../images/index_bg.png")/*tpa=images/index_bg.png*/ no-repeat; height:836px; padding-top:164px; position:relative;}
