@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;

.header{
    width: 100%;
}
.header .logo{
    width: 100%;
    height: px2rem(435);
}
.headertitle{
    width: 100%;
    height: px2rem(120);
    font-size: px2rem(64);
    color: #777B7F;
}
.headertitle img{
    width: px2rem(60);
    height: px2rem(60);
    margin-right: px2rem(25);
}
.list_pos{
    margin-bottom: px2rem(80);
}
//
.myintegarl{
      width: px2rem(574);
    height: px2rem(230);
    line-height: px2rem(230);
    text-align: center;
    margin: 0 auto;
    margin-top: px2rem(50);
    margin-bottom: px2rem(100);
    color: #333333;
    font-size: px2rem(40);
    background-color: #FFFFFF;
    border-radius: px2rem(20);
}
.list{
    width: px2rem(546);
    height: px2rem(90);
    line-height: px2rem(90);
    text-align: center;
    margin: 0 auto;
    margin-bottom: px2rem(50);
    color: #333333;
    font-size: px2rem(40);
    background-color: #777B7F;
    border-radius: px2rem(10);
    position: relative;
}
.list .left{
    position: absolute;
    top: px2rem(3);
    left: px2rem(10);
    width: px2rem(526);
    height: px2rem(84);
    line-height: px2rem(84);
    text-align: center;
    color: #7E8087;
    background-color: #fff;
    border-radius: px2rem(10);
}
.list .left:nth-child(1){
    margin-right: px2rem(35);
}
.list .right{
    position: absolute;
    right: 0px;
    top: 0px;
    width: px2rem(71);
    height: px2rem(90);
    background-image: url(../image1/bg_rg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.list .right img{
    width: px2rem(37);
    height: px2rem(68);
    position: absolute;
    right: px2rem(10);
    top: px2rem(11);
}
.wraning{
    width: 100%;
    color: #333333;
    font-size: px2rem(28);
    text-align: center;
    margin-top: px2rem(90);
}
.applysccsess{
    width: px2rem(240);
    height: px2rem(80);
    margin: 0 auto;
    margin-top: px2rem(50);
    background-color: #E8EBED;
    color: #73757A;
    font-size: px2rem(28);
    border-radius: px2rem(40);
}