@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
.list{
    width: 100%;
    min-height: px2rem(80);
    border-bottom: px2rem(1) solid #d6d6d6;
    font-size: px2rem(28);
    padding: px2rem(25);
    box-sizing: border-box;
    color: #333333;
    
}
.list .name{
    font-size: px2rem(32);
    font-weight: 700;
}
.list .text{
    margin-top: px2rem(15);
}
.like{
    font-size: px2rem(28);
}
.zan{
    display: none;
}
.like img{
    width: px2rem(30);
    height: px2rem(30);
    margin-right: px2rem(15);
}
