@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
.list_con{
    margin-bottom: px2rem(80);
}
.box {
    width: 100%;
    border-bottom: px2rem(7) solid #fff;
    box-shadow: 10px 10px 5px #888888;
}
.box img {
    width: 100%;
}
.up_w{
    display: block;
    width: px2rem(80);
    height: px2rem(40);
    margin: 0 auto;
    margin-top: px2rem(20);
}
.navigation {
    margin: 0 auto;
    width: px2rem(654);
    margin-top: px2rem(17);
    font-size: px2rem(36);
   
}

.navigation .left {
    width: px2rem(297);
    height: px2rem(200);
    box-sizing: border-box;
    padding: px2rem(15);
    color: #7A797F;
    background-color: #E7EAEC;
    border-radius: px2rem(10);
}
.little{
    font-size: px2rem(16);
    padding-top: px2rem(15);
}
.navigation .right {
    width: px2rem(347);
    height: px2rem(200);
    box-sizing: border-box;
    padding: px2rem(15);
    color: #7A797F;
    background-color: #E7EAEC;
    border-radius: px2rem(10);
}
.navigation .right img{
    width: px2rem(75);
    height: px2rem(75);
    margin-right: px2rem(25);
}
.navigation .left img{
    width: px2rem(75);
    height: px2rem(75);
    margin-right: px2rem(25);
}
.navigation .new_left{
    width: px2rem(249);
}
.navigation .new_left img{
   width: px2rem(228);
}
.navigation .new_right{
    width: px2rem(405);
    height: px2rem(95);
    box-sizing: border-box;
    padding: px2rem(15);
    color: #7A797F;
    background-color: #E7EAEC;
    border-radius: px2rem(10);
}
.navigation .new_right img{
     width: px2rem(75);
    height: px2rem(75);
    margin-right: px2rem(25);
}
.peoplecenter{
    width: px2rem(200);
    height: px2rem(60);
    margin: 0 auto;
    margin-top: px2rem(15);
    line-height: px2rem(60);
    font-size: px2rem(32);
    color: #333333;
    background-color: #FFFFFF;
    border-radius: px2rem(5);
    text-align: center;
}
