@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
.logo {
    width: 100%;
    height: px2rem(500);
    position: relative;
}

.logo img {
    width: 100%;
    height: px2rem(500);
}

.logo .info_logo {
    width: px2rem(148);
    height: px2rem(148);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: px2rem(-74);
    left: 50%;
    margin-left: px2rem(-74);
}

.logo .info_logo img {
    width: px2rem(132);
    height: px2rem(132);
}

.title {
    width: 100%;
    height: px2rem(64);
    line-height: px2rem(64);
    text-align: center;
    margin-top: px2rem(110);
    margin-bottom: px2rem(40);
    color: #777B7F;
    font-size: px2rem(64);
}

.content {
    width: px2rem(550);
    height: px2rem(400);
    margin: 0 auto;
    position: relative;
}

.content .list {
    width: px2rem(125);
    height: px2rem(125);
    line-height: px2rem(125);
    text-align: center;
    border-radius: 50%;
    background-color: #E7EAEC;
    color: #66696B;
    font-size: px2rem(30);
    margin: 0 auto;
    margin-top: px2rem(60);
    margin-bottom: px2rem(40);
}

.content .input {
    width: px2rem(410);
    height: px2rem(96);
    border-radius: px2rem(10);
    box-shadow: 0px 0px 3px 3px #D1D0D0;
    margin: 0 auto;
}

input {
    width: px2rem(400);
    height: px2rem(90);
    line-height: px2rem(96);
    font-size: px2rem(48);
    border: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
}

.checked{
    width: px2rem(450);
    margin: 0 auto;
    height:px2rem(60);
    margin-top: px2rem(50);
}
.checked .lists{
    width: px2rem(225);
    height: px2rem(60);
    font-size: px2rem(30);
}
.checked .lists .check{
    width: px2rem(36);
    height: px2rem(36);
    border-radius: px2rem(4);
    margin-right: px2rem(28);
    box-shadow: 0px 0px 3px 3px #D1D0D0;
}
.checked .lists .active{
    background-image: url(../img/sure_dui.png);
    background-size: cover;
}
.submit {
    margin: 0 auto;
    margin-top: px2rem(50);
    margin-bottom: px2rem(50);
    width: px2rem(240);
    height: px2rem(80);
    line-height: px2rem(80);
    text-align: center;
    border-radius: px2rem(40);
    background-color: #E7EAEC;
    color: #66696B;
    font-size: px2rem(26);
}

.click {
    width: px2rem(154);
    height: px2rem(154);
    display: block;
    font-size: px2rem(28);
    margin: 0 auto;
    margin-top: px2rem(50);
    margin-bottom: px2rem(80);
    line-height: px2rem(154);
    background-color: #787C80;
    color: #FFFFFF;
    text-align: center;
    border-radius: 50%;
}

.model {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.4);
    
}
.model_1{
    display: none;
}
.model_2{
    display: none;
}
.model .content {
    background-color: #DADADB;
    width: px2rem(500);
    height: px2rem(220);
    line-height: px2rem(220);
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: px2rem(-250);
    top: px2rem(490);
    border-radius: px2rem(10);
}

.model #go_back,#go_back_2{
    position: absolute;
    left: 50%;
    margin-left: px2rem(-77);
    top: px2rem(720);
}