@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
.header{
    width: 100%;
}
.header .logo{
    width: 100%;
    height: px2rem(435);
}
.headertitle{
    width: 100%;
    height: px2rem(120);
    font-size: px2rem(64);
    color: #777B7F;
}
//积分
.intergral{
    width: px2rem(370);
    height: px2rem(370);
    line-height: px2rem(370);
    text-align: center;
    margin: 0 auto;
    background-color: #E8EBED;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px #D3D2D2;
    position: relative;
    color: #787C80;
    font-size: px2rem(128);
    margin-bottom: px2rem(45);
}
.number{
    width: px2rem(480);
    height: px2rem(80);
    line-height: px2rem(80);
    color: #636668;
    background-color: #E7EAEC;
    margin: 0 auto;
    margin-top: px2rem(40);
    margin-bottom: px2rem(54);
    font-size: px2rem(24);
    text-align: center;
    border-radius: px2rem(40);
}
.numbers_con{
    margin-top: px2rem(50);
    margin-bottom: px2rem(50);
}
.numbers{
    width: px2rem(480);
    height: px2rem(80);
    line-height: px2rem(80);
    color: #636668;
    background-color: #E7EAEC;
    margin: 0 auto;
    margin-bottom: px2rem(5);
    font-size: px2rem(24);
    text-align: center;
    border-radius: px2rem(40);
}
.list_pos{
    width: px2rem(460);
    margin: 0 auto;
    margin-bottom: px2rem(80);
}
.list{
    width: px2rem(220);
    height: px2rem(124);
    font-size: px2rem(36);
    line-height: px2rem(36);
    border-radius: px2rem(10);
    color: #777C7D;
    box-shadow: 0px 0px 10px 10px #D3D2D2;
    text-align: center;
    padding: px2rem(25);
    box-sizing: border-box;
}
