@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
.list_con{
    background-color: #1c3d78;
    padding-top: px2rem(50);
}
.list{
     width: px2rem(700);
    margin: 0 auto;
    margin-top: px2rem(50);
    background-color: #FFFFFF;
    color: #333333;
    box-sizing: border-box;
    padding: px2rem(15);
    font-size: px2rem(48);
    margin-bottom: px2rem(60);
}
.list .title{
    font-size: px2rem(32);
    margin-bottom: px2rem(15);
}
.list input{
    width: px2rem(660);
    margin-left: px2rem(10);
    height: px2rem(58);
    line-height: px2rem(58);
    font-size: px2rem(32);
     border: px2rem(1) solid #D6D6D6;
     box-sizing: border-box;
     padding: px2rem(13);
}
.list textarea{
    width: px2rem(660);
    height: px2rem(150);
    line-height: px2rem(50);
    font-size: px2rem(32);
    padding: px2rem(15);
   box-sizing: border-box;
}
.list input:focus{
    border: px2rem(1) solid deepskyblue;
}
.bottom{
    width: px2rem(400);
    height: px2rem(80);
    line-height: px2rem(80);
    background-color: #FFFFFF;
    color: #333333;
    text-align: center;
    font-size: px2rem(36);
    border: none;
    border-radius: px2rem(8);
    margin-left: px2rem(175);
    margin-bottom: px2rem(50);
}
