@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
.list_con{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.header{
    width: 100%;
    box-shadow: 10px 10px 10px #C7C5C3;
}
.header .logo{
    width: 100%;

}
.header_botttom {
    width: 100%;
    height: px2rem(20);
    background-color: #fff;
}
.header_botttom .line{
    width: px2rem(43);
    height: px2rem(4);
}
//下面的列表
.list_pos{
    width: 100%;
}
.title{
    width: 100%;
    height: px2rem(110);
    color: #787C80;
    box-sizing: border-box;
    margin-bottom: px2rem(30);
    font-size: px2rem(56);
    text-align: center;
    border-bottom: px2rem(1) solid #D9D9D9;
}
.title img{
    width: px2rem(68);
    height: px2rem(68);
    margin-right: px2rem(20);
}
.title>p:nth-child(1){
    padding-top: px2rem(15);
    padding-bottom: px2rem(5);
}
.title>p:nth-child(2){
    font-size: px2rem(16);
}

.list {
    width: px2rem(630);
    height: px2rem(105);
    margin: 0 auto;
    margin-top: px2rem(10);
    background-color: #EBEEF0;
    position: relative;
}
.list .left{
    font-size: px2rem(50);
    color: #767D82;
}
.list .left img{
    width: px2rem(34);
    height: px2rem(35);
    margin-right: px2rem(15);
}
.list .right{
    width: px2rem(23);
    height: px2rem(31);
    position: absolute;
    right: px2rem(64);
    top: px2rem(38);
}