@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;

.header{
    width: 100%;
}
.header .logo{
    width: 100%;
    height: px2rem(435);
}
.headertitle{
    width: 100%;
    height: px2rem(120);
    font-size: px2rem(64);
    color: #777B7F;
}
.headertitle img{
    width: px2rem(40);
    height: px2rem(40);
    margin-right: px2rem(25);
}
.list_pos{
    margin-bottom: px2rem(80);
}
.list {
    width: px2rem(615);
    height: px2rem(100);
    line-height: px2rem(100);
    text-align: center;
    margin: 0 auto;
    margin-top: px2rem(25);
    box-shadow: 0px 0px 10px 10px  #C8C7C7;
    color: #787B7D;
    font-size: px2rem(28);
    background-color: #FFFFFF;
    border-radius: px2rem(10);
}

.list .left {
    width: px2rem(220);
    height: px2rem(120);
    line-height: px2rem(120);
    color: #333333;
}

.list .right {
    width: px2rem(340);
    height: px2rem(80);
    line-height: px2rem(80);
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.applysccsess{
    width: px2rem(240);
    height: px2rem(80);
    margin: 0 auto;
    margin-top: px2rem(50);
    background-color: #E8EBED;
    color: #73757A;
    font-size: px2rem(28);
    border-radius: px2rem(40);
}
