@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
.list_con{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: scroll;
}
.header{
    width: 100%;
}
.header .logo{
    width: 100%;
    height: px2rem(435);
}
.headertitle{
    width: 100%;
    height: px2rem(120);
    font-size: px2rem(64);
    color: #777B7F;
}
.headertitle img{
    width: px2rem(40);
    height: px2rem(40);
    margin-right: px2rem(25);
}

.list_pos{
    width: px2rem(510);
    height: px2rem(345);
    line-height: px2rem(345);
    margin: 0 auto;
    background-color: #fff;
    border-radius: px2rem(10);
    box-shadow: 0px 0px 10px 10px #D3D2D2;
    position: relative;
    color: #767A7E;
    font-size: px2rem(44);
    text-align: center;
    margin-bottom: px2rem(45);
}
.list_pos .pos{
    position: absolute;
    top: 0px;
    right: px2rem(35);
    width: px2rem(40);
    height: px2rem(63);
    background-image: url(../image1/test_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    font-size: px2rem(28);
    width:px2rem(375);
    position: absolute;
    top: px2rem(70);
    left: px2rem(52);
    line-height: px2rem(60);
}
.pos img{
    width: px2rem(17);
    height: px2rem(34);
    margin-top: px2rem(-12);
}

//
.condition{
    width: px2rem(500);
    height:px2rem(94);
    line-height: px2rem(94);
    box-shadow: 10px 10px 10px  #B9B6B7;
    margin: 0 auto;
    margin-top: px2rem(36);
    text-align: center;
    position: relative;
    color: #1B1613;
    font-size: px2rem(26);
    font-weight: 700;
}
.condition .img_l{
    width: px2rem(13);
    height: px2rem(94);
    position: absolute;
    left: 0px;
    top: 0px;
}
.condition .img_r{
    width: px2rem(13);
    height: px2rem(94);
    position: absolute;
    right: 0px;
    top: 0px;
}
button{ 
    z-index: 2;
    margin:0; 
    padding:0; 
    list-style-type:none;
    border: none;
    }
button:active{
    list-style-type:none;
    border: none;
}
button:hover{
    list-style-type:none;
    border: none;
}
.click{
    width: px2rem(154);
    height: px2rem(154);
    display: block;
    font-size: px2rem(28);
    margin: 0 auto;
    margin-top: px2rem(50);
    line-height: px2rem(154);
    background-color: #E8EBED;
    color: #797B80;
    text-align: center;
    border-radius: 50%;
    box-shadow: 10px 10px 10px  #B9B6B7;
}
//测试结果
.intergral{
    width: px2rem(370);
    height: px2rem(370);
    line-height: px2rem(370);
    text-align: center;
    margin: 0 auto;
    background-color: #E8EBED;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px #D3D2D2;
    position: relative;
    color: #787C80;
    font-size: px2rem(128);
    margin-bottom: px2rem(45);
}
.intergral img{
    width: px2rem(40);
    height: px2rem(40);
    position: absolute;
    top: px2rem(55);
    left: 50%;
    margin-left: px2rem(-20);
    
}
.applysccsess{
    width: px2rem(240);
    height: px2rem(80);
    margin: 0 auto;
    margin-top: px2rem(50);
    background-color: #E8EBED;
    color: #77797E;
    font-size: px2rem(24);
    border-radius: px2rem(40);
}
