@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
.list_con{
    padding-bottom: px2rem(50);
}
.header {
    width: 100%;
    box-shadow: 10px 10px 10px #C7C5C3;
}
.header .logo {
    width: 100%;
}

.header_botttom {
    width: 100%;
    height: px2rem(20);
    background-color: #fff;
}

.header_botttom .line {
    width: px2rem(43);
    height: px2rem(4);
}

.title {
    width: 100%;
    line-height: px2rem(84);
    color: #777778;
    box-sizing: border-box;
    margin-bottom: px2rem(30);
    font-size: px2rem(42);
    text-align: center;
    border-bottom: px2rem(1) solid #D9D9D9;
}
.list_cons{
    width: px2rem(600);
    margin: 0 auto;
    line-height: px2rem(36);
    text-align: left;
    padding: px2rem(0) px2rem(60);
    font-size: px2rem(28);
    box-sizing: border-box;
    color: #757C7F;
}
.list_cons .list{
    margin-bottom: px2rem(18);
    min-height: px2rem(36);
    line-height: px2rem(32);
}
.list_cons .list .right{
    padding-left: px2rem(15);
}
.list .text{
    width: px2rem(140);
}
.list .text_r{
    width: px2rem(330);
}
.list .text,.text_r{
    float: left;
}
.zhiliao{
    margin-top: px2rem(50);
}
.condition{
    width: px2rem(500);
    height:px2rem(94);
    line-height: px2rem(94);
    box-shadow: 10px 10px 10px  #B9B6B7;
    margin: 0 auto;
    margin-top: px2rem(36);
    text-align: center;
    position: relative;
    color: #1B1613;
    font-size: px2rem(26);
    font-weight: 700;
}
.condition .img_l{
    width: px2rem(13);
    height: px2rem(94);
    position: absolute;
    left: 0px;
    top: 0px;
}
.condition .img_r{
    width: px2rem(13);
    height: px2rem(94);
    position: absolute;
    right: 0px;
    top: 0px;
}
.model{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 200;
    background-color: rgba(0,0,0,0.4);
    display: none;
}
//倒计时
.count_down {
    display: none;
    width: px2rem(258);
    height: px2rem(53);
    background-color: #777B81;
    border-radius: px2rem(10);
    margin: 0 auto;
    margin-top: px2rem(25);
    color: #fff;
    font-size: px2rem(20);
    box-sizing: border-box;
    position: relative;
}
#dateShow{
    position: absolute;
    left:px2rem(25);
    top:px2rem(12);
}
.count_down .center {
    width: px2rem(253);
    height: px2rem(47);
    line-height: px2rem(47);
    text-align: center;
    position: absolute;
    left: px2rem(3);
    top: px2rem(3);
    border: px2rem(3) solid #FFF;
    border-radius: px2rem(10);
    box-sizing: border-box;
}
#feed {
    display: none;
    width: px2rem(450);
    height: px2rem(235);
    border-radius: px2rem(10);
    background-color: #ECECEC;
    margin: 0 auto;
    margin-top: px2rem(80);
    margin-bottom: px2rem(80);
    padding: px2rem(28) px2rem(35);
    box-sizing: border-box;
    font-size: px2rem(24);
    overflow: hidden;
}
#feed #list_con{
    margin-top: px2rem(25);
}
#feed #list_con .list{
    margin-bottom: px2rem(25);
}
#feed #list_con .list .left {
    width: px2rem(310);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#feed .list .right{
    width: px2rem(70);
}

.model .content{
    background-color: #DADADB;
    width: px2rem(500);
    height: px2rem(220);
    position: absolute;
    left: 50%;
    margin-left: px2rem(-250);
    top: px2rem(490);
    border-radius: px2rem(10);
}
.model #go_back{
    position: absolute;
    left: 50%;
    margin-left: px2rem(-77);
    top: px2rem(720);
}
button{ 
    z-index: 2;
    margin:0; 
    padding:0; 
    list-style-type:none;
    border: none;
    }
button:active{
    list-style-type:none;
    border: none;
}
button:hover{
    list-style-type:none;
    border: none;
}
.click{
    width: px2rem(154);
    height: px2rem(154);
    display: block;
    font-size: px2rem(28);
    margin: 0 auto;
    margin-top: px2rem(130);
    line-height: px2rem(154);
    background-color: #787C80;
    color: #FFFFFF;
    text-align: center;
    border-radius: 50%;
}
//
.list_con .button_con {
    width: px2rem(400);
    height: px2rem(160);
    margin: 0 auto;
    margin-top: px2rem(65);
    display: none;
}
#success {
    display: none;
}

#feedback {
    background-color: #E6E6E7;
    color: #282727;
}
#feed_success {
    display: none;
}
.check_in{
    float: left;
     width: px2rem(154);
    height: px2rem(154);
    font-size: px2rem(28);
    margin: 0 auto;
    line-height: px2rem(154);
    background-color: #787C80;
    color: #FFFFFF;
    text-align: center;
    border-radius: 50%;
}
.feedback{
    float: right;
    width: px2rem(154);
    height: px2rem(154);
    font-size: px2rem(28);
    margin: 0 auto;
    line-height: px2rem(154);
    background-color: #C0282D;
    color: #FFFFFF;
    text-align: center;
    border-radius: 50%;
}
.bottom{
    z-index: -1;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: px2rem(750);
    height: px2rem(500);
}
