@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
body {
    background-image: url(../image1/d_bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

.title {
    width: px2rem(510);
    margin: 0 auto;
    margin-top: px2rem(135);
    margin-bottom: px2rem(30);
    font-size: px2rem(48);
    color: #C12629;
    text-align: center;
}

.list_pos {
    width: px2rem(510);
//  min-height: px2rem(399);
    margin: 0 auto;
    background-color: #fff;
    border-radius: px2rem(10);
    box-shadow: 10px 10px 10px #D3D2D2;
    position: relative;
    color: #767A7E;
    font-size: px2rem(44);
    text-align: center;
    margin-bottom: px2rem(45);
}

.list_pos .pos {
    position: absolute;
    top: 0px;
    right: px2rem(35);
    width: px2rem(40);
    height: px2rem(63);
    background-image: url(../image1/bg_3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pos img {
    width: px2rem(17);
    height: px2rem(34);
    margin-top: px2rem(-12);
}
.time1 {
    float:left;
    width: px2rem(400);
    margin-top: px2rem(60);
    color: #101010;
    font-size: px2rem(24);
}
.time {
    float:left;
    width: px2rem(400);
    margin-top: px2rem(30);
    color: #101010;
    font-size: px2rem(24);
}
.time1 .left {
    float: left;
    margin-right: px2rem(10);
}

.time1 .right {
    float: left;
    padding-right: px2rem(10);
    color: #757878;
    font-size: px2rem(28);
}
.time .left {
    float: left;
    margin-right: px2rem(10);
}

.time .right {
    float: left;
    padding-right: px2rem(10);
    color: #757878;
    font-size: px2rem(28);
}

.button_con {
    width: px2rem(400);
    margin: 0 auto;
}

button {
    z-index: 2;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
    width: px2rem(154);
    height: px2rem(154);
    display: block;
    font-size: px2rem(28);
    margin: 0 auto;
    margin-top: px2rem(50);
    line-height: px2rem(154);
    text-align: center;
    border-radius: 50%;
}

button:active {
    list-style-type: none;
    border: none;
}

button:hover {
    list-style-type: none;
    border: none;
}

.click {
    background-color: #C0282D;
    color: #FFFFFF;
}

#success {
    display: none;
}

#feedback {
    background-color: #E6E6E7;
    color: #282727;
}

#feed_success {
    display: none;
}

.img_pos {
    position: fixed;
    left: px2rem(80);
    bottom: px2rem(150);
    width: px2rem(90);
    height: px2rem(125);
}

.bottom {
    z-index: -1;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: px2rem(750);
    height: px2rem(390);
}

//倒计时
.count_down {
    display: none;
    width: px2rem(258);
    height: px2rem(53);
    background-color: #777B81;
    border-radius: px2rem(10);
    margin: 0 auto;
    margin-top: px2rem(25);
    color: #fff;
    font-size: px2rem(20);
    box-sizing: border-box;
    position: relative;
}
#dateShow{
    position: absolute;
    left:px2rem(25);
    top:px2rem(12);
}
.count_down .center {
    width: px2rem(253);
    height: px2rem(47);
    line-height: px2rem(47);
    text-align: center;
    position: absolute;
    left: px2rem(3);
    top: px2rem(3);
    border: px2rem(3) solid #FFF;
    border-radius: px2rem(10);
    box-sizing: border-box;
}

.list {
    text-align: center;
    width: 100%;
}

#feed {
    display: none;
    width: px2rem(450);
    height: px2rem(235);
    border-radius: px2rem(10);
    box-shadow: 10px 10px 10px #D3D2D2;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: px2rem(20);
    margin-left: px2rem(110);
    padding: px2rem(28) px2rem(35);
    box-sizing: border-box;
    font-size: px2rem(24);
    overflow: hidden;
}
#feed #list_con{
    margin-top: px2rem(25);
}
#feed #list_con .list{
    margin-bottom: px2rem(25);
}
#feed #list_con .list .left {
    width: px2rem(310);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#feed .list .right{
    width: px2rem(70);
}
