@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
body {
    background-image: url(../image1/d_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

.content {
    width: px2rem(660);
    height: px2rem(1154);
    margin: 0 auto;
    margin-top: px2rem(56);
    position: relative;
    background-image: url(../image1/bg_line2.png);
    background-repeat: no-repeat;
    background-size: px2rem(660) px2rem(1154);
}

.content .img_pos {
    position: absolute;
    right: px2rem(28);
    top: px2rem(56);
    width: px2rem(90);
    height: px2rem(125);
}

.list_pos {
    width: 100%;
    padding-top: px2rem(257);
}

.title {
    width: 100%;
    margin-bottom: px2rem(60);
    color: #BF292F;
}

.title .img1 {
    width: px2rem(83);
    height: px2rem(85);
    margin-right: px2rem(25);
}

.title .img2 {
    width: px2rem(4);
    height: px2rem(85);
    margin-right: px2rem(30);
}

.title .big {
    font-size: px2rem(64);
}

#list_con {
    width: px2rem(600);
    margin: 0 auto;
    margin-top: px2rem(110);
}

#list_con .list_content {
    margin-top: px2rem(25);
}

#list_con .list_content .rights {
    width: px2rem(84);
    height: px2rem(84);
    line-height: px2rem(84);
    text-align: center;
    font-size: px2rem(30);
    border: px2rem(3) solid #E5E5E5;
    border-radius: px2rem(10);
    color: #787C80;
}

#list_con .list_content .active {
    border: px2rem(3) solid #902D22;
    color: #902D22;
}

#list_con .list {
    width: px2rem(500);
    height: px2rem(84);
    background-color: #E9737A;
    border-radius: px2rem(10);
    position: relative;
}

.list .right {
    position: absolute;
    top: px2rem(3);
    right: px2rem(3);
    width: px2rem(430);
    height: px2rem(78);
    line-height: px2rem(78);
    background-color: #fff;
    border-radius: px2rem(10);
    text-align: center;
    font-size: px2rem(30);
    color: #787C80;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list .left {
    position: absolute;
    width: px2rem(36);
    height: px2rem(36);
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: px2rem(36);
    text-align: center;
    left: px2rem(15);
    top: px2rem(21);
    font-size: px2rem(28);
    color: #fff;
}