@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
.header{
    width: 100%;
    box-shadow: 10px 10px 10px #C7C5C3;
}
.header .logo{
    width: 100%;
}
.header_botttom {
    width: 100%;
    height: px2rem(20);
    background-color: #fff;
}
.header_botttom .line{
    width: px2rem(43);
    height: px2rem(4);
}
.title{
    width: 100%;
    height: px2rem(110);
    color: #777778;
    box-sizing: border-box;
    margin-bottom: px2rem(30);
    font-size: px2rem(56);
    text-align: center;
    border-bottom: px2rem(1) solid #D9D9D9;
}
//下面的列表
.list_pos{
    width: px2rem(510);
    height: px2rem(470);
    line-height: px2rem(345);
    margin: 0 auto;
    background-color: #fff;
    border-radius: px2rem(10);
    box-shadow: 10px 10px 10px  #D3D2D2;
    position: relative;
    color: #767A7E;
    font-size: px2rem(44);
    text-align: center;
    margin-bottom: px2rem(45);
}
.list_pos textarea{
    outline:none;
    width: px2rem(510);
    height: px2rem(400);
    border: none;
    position: absolute;
    top: px2rem(70);
    left: px2rem(0);
    padding: px2rem(20);
    font-size: px2rem(26);
    color: #333333;
    box-sizing: border-box;
}
.list_pos .pos{
    position: absolute;
    top: 0px;
    right: px2rem(35);
    width: px2rem(40);
    height: px2rem(63);
    font-size: px2rem(24);
}
.pos img{
    width: px2rem(17);
    height: px2rem(34);
    margin-top: px2rem(-12);
}
button{ 
    z-index: 2;
    margin:0; 
    padding:0; 
    list-style-type:none;
    border: none;
    }
button:active{
    list-style-type:none;
    border: none;
}
button:hover{
    list-style-type:none;
    border: none;
}
.click{
    width: px2rem(154);
    height: px2rem(154);
    display: block;
    font-size: px2rem(28);
    margin: 0 auto;
    margin-top: px2rem(50);
    margin-bottom: px2rem(80);
    line-height: px2rem(154);
    background-color: #787C80;
    color: #FFFFFF;
    text-align: center;
    border-radius: 50%;
}
.model{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 200;
    background-color: rgba(0,0,0,0.4);
    display: none;
}
.model .content{
    background-color: #DADADB;
    width: px2rem(500);
    height: px2rem(220);
    position: absolute;
    left: 50%;
    margin-left: px2rem(-250);
    top: px2rem(490);
    border-radius: px2rem(10);
}
.model #go_back{
    position: absolute;
    left: 50%;
    margin-left: px2rem(-77);
    top: px2rem(720);
}
