@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
.header {
    width: 100%;
    box-shadow: 10px 10px 10px #C7C5C3;
}

.header .logo {
    width: 100%;
}

.header_botttom {
    width: 100%;
    height: px2rem(20);
    background-color: #fff;
}

.header_botttom .line {
    width: px2rem(43);
    height: px2rem(4);
}

.title {
    width: 100%;
    height: px2rem(110);
    color: #777778;
    box-sizing: border-box;
    margin-bottom: px2rem(30);
    font-size: px2rem(56);
    text-align: center;
    border-bottom: px2rem(1) solid #D9D9D9;
}

.title img {
    width: px2rem(68);
    height: px2rem(68);
    margin-right: px2rem(12);
}

//下面的列表
#list_con {
    width: px2rem(600);
    margin: 0 auto;
    margin-top: px2rem(50);
}

#list_con .list_content {
    margin-top: px2rem(25);
}

#list_con .list_content .rights {
    width: px2rem(84);
    height: px2rem(84);
    line-height: px2rem(84);
    text-align: center;
    font-size: px2rem(30);
    border: px2rem(3) solid #E5E5E5;
    border-radius: px2rem(10);
    color: #787C80;
}

#list_con .list_content .active {
    border: px2rem(3) solid #902D22;
    color: #902D22;
}

#list_con .list {
    width: px2rem(500);
    height: px2rem(84);
    background-color: #787C80;
    border-radius: px2rem(10);
    position: relative;
}
.list .right {
    position: absolute;
    top: px2rem(3);
    right: px2rem(3);
    width: px2rem(430);
    height: px2rem(78);
    line-height: px2rem(78);
    background-color: #fff;
    border-radius: px2rem(10);
    text-align: center;
    font-size: px2rem(30);
    color: #787C80;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list .left {
    position: absolute;
    width: px2rem(36);
    height: px2rem(36);
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: px2rem(36);
    text-align: center;
    left: px2rem(15);
    top: px2rem(21);
    font-size: px2rem(28);
    color: #fff;
}