@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;

body{
    background-image: url(../image1/d_bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed
}
.title{
    width: px2rem(510);
    margin: 0 auto;
    margin-top: px2rem(135);
    margin-bottom: px2rem(30);
    font-size: px2rem(64);
    color: #C12629;
}

.title{
    width: px2rem(510);
    margin: 0 auto;
    margin-top: px2rem(135);
    margin-bottom: px2rem(30);
}
.title input{
    width: px2rem(510);
    font-size: px2rem(64);
    color: #C12629;
    border: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: rgba(0,0,0,0);
}
.list_pos{
    width: px2rem(540);
    height: px2rem(396);
    margin: 0 auto;
    padding: px2rem(80) px2rem(25);
    box-sizing: border-box;
    background-color: #fff;
    border-radius: px2rem(10);
    box-shadow: 10px 10px 10px  #D3D2D2;
    position: relative;
    color: #767A7E;
    font-size: px2rem(44);
    margin-bottom: px2rem(45);
}
.list_pos .pos{
    position: absolute;
    top: 0px;
    right: px2rem(35);
    width: px2rem(40);
    height: px2rem(63);
    background-image: url(../image1/bg_3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.pos img{
    width: px2rem(17);
    height: px2rem(34);
    margin-top: px2rem(-12);
}
.list_pos .list  .left{
    width: px2rem(120);
    font-size: px2rem(24);
    color: #0D0D0A;
}

.list_pos .list input{
    width: px2rem(369);
    color: #88878D;
    font-size: px2rem(28);
    border: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
}
.list_pos .list1{
    padding-bottom: px2rem(20);
} 
.list_pos .list2{
    padding-bottom: px2rem(80);
} 
//数据渲染
.introduction{
    width: px2rem(574);
    height: px2rem(360);
    margin-top: px2rem(30);
     color: #333333;
    font-size: px2rem(40);
    background-color: #FFFFFF;
    border-radius: px2rem(10);
    font-size: px2rem(24);
    box-sizing: border-box;
    padding: px2rem(15);
}

.wraning{
    width: px2rem(266);
    height: px2rem(40);
    line-height: px2rem(40);
    text-align: center;
    margin: 0 auto;
    margin-top: px2rem(30);
    color: #333333;
    font-size: px2rem(20);
    background-color: #FFFFFF;
    border-radius: px2rem(10);
}
button{ 
    z-index: 2;
    margin:0; 
    padding:0; 
    list-style-type:none;
    border: none;
    }
button:active{
    list-style-type:none;
    border: none;
}
button:hover{
    list-style-type:none;
    border: none;
}
#apply{
    width: px2rem(154);
    height: px2rem(154);
    display: block;
    font-size: px2rem(28);
    margin: 0 auto;
    margin-top: px2rem(150);
    line-height: px2rem(154);
    background-color: #C0282D;
    color: #FFFFFF;
    text-align: center;
    border-radius: 50%;
}
.seccess{
    display: none;
}
.applysccsess{
    width: px2rem(240);
    height: px2rem(80);
    margin: 0 auto;
    margin-top: px2rem(150);
    background-color: #C0282D;
    color: #fff;
    font-size: px2rem(24);
    border-radius: px2rem(40);
}
.applysccsess img{
    width: px2remI(27);
    height: px2rem(25);
    margin-left: px2rem(10);
}
.img_pos{
    position: fixed;
    left: px2rem(80);
    bottom: px2rem(150);
    width: px2rem(90);
    height: px2rem(125);
}
.bottom{
    z-index: -1;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: px2rem(750);
    height: px2rem(390);
}
