.header { width: 100%; }

.header .logo { width: 100%; height: 9.28rem; }

.headertitle { width: 100%; height: 2.56rem; font-size: 1.3653333333rem; color: #777B7F; }

.headertitle img { width: 1.28rem; height: 1.28rem; margin-right: 0.5333333333rem; }

.list_pos { margin-bottom: 1.7066666667rem; }

.myintegarl { width: 12.2453333333rem; height: 4.9066666667rem; line-height: 4.9066666667rem; text-align: center; margin: 0 auto; margin-top: 1.0666666667rem; margin-bottom: 2.1333333333rem; color: #333333; font-size: 0.8533333333rem; background-color: #FFFFFF; border-radius: 0.4266666667rem; }

.list { width: 11.648rem; height: 1.92rem; line-height: 1.92rem; text-align: center; margin: 0 auto; margin-bottom: 1.0666666667rem; color: #333333; font-size: 0.6rem; background-color: #777B7F; border-radius: 0.2133333333rem; position: relative; }

.list .left { position: absolute; top: 0.064rem; left: 0.2133333333rem; width: 11.2213333333rem; height: 1.792rem; line-height: 1.792rem; text-align: left; color: #7E8087; background-color: #fff; border-radius: 0.2133333333rem; }

.list .left:nth-child(1) { margin-right: 0.7466666667rem; }

.list .right { position: absolute; right: 0px; top: 0px; width: 1.5146666667rem; height: 1.92rem; background-image: url(../image1/bg_rg.png); background-size: cover; background-repeat: no-repeat; }

.list .right img { width: 0.7893333333rem; height: 1.4506666667rem; position: absolute; right: 0.2133333333rem; top: 0.2346666667rem; }

.wraning { width: 100%; color: #333333; font-size: 0.5973333333rem; text-align: center; margin-top: 1.92rem; }

.applysccsess { width: 5.12rem; height: 1.7066666667rem; margin: 0 auto; margin-top: 1.0666666667rem; background-color: #E8EBED; color: #73757A; font-size: 0.5973333333rem; border-radius: 0.8533333333rem; }

/*# sourceMappingURL=conversion.css.map */
