.list { width: 100%; min-height: 1.7066666667rem; border-bottom: 0.0213333333rem solid #d6d6d6; font-size: 0.5973333333rem; padding: 0.5333333333rem; box-sizing: border-box; color: #333333; }

.list .name { font-size: 0.6826666667rem; font-weight: 700; }

.list .text { margin-top: 0.32rem; }

.like { font-size: 0.5973333333rem; }

.zan { display: none; }

.like img { width: 0.64rem; height: 0.64rem; margin-right: 0.32rem; }

/*# sourceMappingURL=feed_list.css.map */
