.list_con { margin-bottom: 1.7066666667rem; }

.box { width: 100%; border-bottom: 0.1493333333rem solid #fff; box-shadow: 10px 10px 5px #888888; }

.box img { width: 100%; }

.up_w { display: block; width: 1.7066666667rem; height: 0.8533333333rem; margin: 0 auto; margin-top: 0.4266666667rem; }

.navigation { margin: 0 auto; width: 13.952rem; margin-top: 0.3626666667rem; font-size: 0.768rem; }

.navigation .left { width: 6.336rem; height: 4.2666666667rem; box-sizing: border-box; padding: 0.32rem; color: #7A797F; background-color: #E7EAEC; border-radius: 0.2133333333rem; }

.little { font-size: 0.3413333333rem; padding-top: 0.32rem; }

.navigation .right { width: 7.4026666667rem; height: 4.2666666667rem; box-sizing: border-box; padding: 0.32rem; color: #7A797F; background-color: #E7EAEC; border-radius: 0.2133333333rem; }

.navigation .right img { width: 1.6rem; height: 1.6rem; margin-right: 0.5333333333rem; }

.navigation .left img { width: 1.6rem; height: 1.6rem; margin-right: 0.5333333333rem; }

.navigation .new_left { width: 5.312rem; }

.navigation .new_left img { width: 4.8306666667rem;}

.navigation .new_right { width: 8.64rem; height: 2.0266666667rem; box-sizing: border-box; padding: 0.32rem; color: #7A797F; background-color: #E7EAEC; border-radius: 0.2133333333rem; }

.navigation .new_right img { width: 1.6rem; height: 1.6rem; margin-right: 0.5333333333rem; }

.peoplecenter { width: 4.2666666667rem; height: 1.28rem; margin: 0 auto; margin-top: 0.32rem; line-height: 1.28rem; font-size: 0.6826666667rem; color: #333333; background-color: #FFFFFF; border-radius: 0.1066666667rem; text-align: center; }

/*# sourceMappingURL=index.css.map */
