.logo { width: 100%; height: 10.6666666667rem; position: relative; }

.logo img { width: 100%; height: 10.6666666667rem; }

.logo .info_logo { width: 3.1573333333rem; height: 3.1573333333rem; background-color: #fff; border-radius: 50%; position: absolute; bottom: -1.5786666667rem; left: 50%; margin-left: -1.5786666667rem; }

.logo .info_logo img { width: 2.816rem; height: 2.816rem; }

.title { width: 100%; height: 1.3653333333rem; line-height: 1.3653333333rem; text-align: center; margin-top: 2.3466666667rem; margin-bottom: 0.8533333333rem; color: #777B7F; font-size: 1.3653333333rem; }

.content { width: 11.7333333333rem; height: 8.5333333333rem; margin: 0 auto; position: relative; }

.content .list { width: 2.6666666667rem; height: 2.6666666667rem; line-height: 2.6666666667rem; text-align: center; border-radius: 50%; background-color: #E7EAEC; color: #66696B; font-size: 0.64rem; margin: 0 auto; margin-top: 1.28rem; margin-bottom: 0.8533333333rem; }

.content .input { width: 8.7466666667rem; height: 2.048rem; border-radius: 0.2133333333rem; box-shadow: 0px 0px 3px 3px #D1D0D0; margin: 0 auto; }

input { width: 8.5333333333rem; height: 1.92rem; line-height: 2.048rem; font-size: 1.024rem; border: none; outline: none; -webkit-appearance: none; border-radius: 0; }

.checked { width: 9.6rem; margin: 0 auto; height: 1.28rem; margin-top: 1.0666666667rem; }

.checked .lists { width: 4.8rem; height: 1.28rem; font-size: 0.64rem; }

.checked .lists .check { width: 0.768rem; height: 0.768rem; border-radius: 0.0853333333rem; margin-right: 0.5973333333rem; box-shadow: 0px 0px 3px 3px #D1D0D0; }

.checked .lists .active { background-image: url(../img/sure_dui.png); background-size: cover; }

.submit { margin: 0 auto; margin-top: 1.0666666667rem; margin-bottom: 1.0666666667rem; width: 5.12rem; height: 1.7066666667rem; line-height: 1.7066666667rem; text-align: center; border-radius: 0.8533333333rem; background-color: #E7EAEC; color: #66696B; font-size: 0.5546666667rem; }

.click { width: 3.2853333333rem; height: 3.2853333333rem; display: block; font-size: 0.5973333333rem; margin: 0 auto; margin-top: 1.0666666667rem; margin-bottom: 1.7066666667rem; line-height: 3.2853333333rem; background-color: #787C80; color: #FFFFFF; text-align: center; border-radius: 50%; }

.model { width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; z-index: 200; background-color: rgba(0, 0, 0, 0.4); }

.model_1 { display: none; }

.model_2 { display: none; }

.model .content { background-color: #DADADB; width: 10.6666666667rem; height: 4.6933333333rem; text-align: center; position: absolute; left: 50%; margin-left: -5.3333333333rem; top: 10.4533333333rem; border-radius: 0.2133333333rem; }

.model #go_back, #go_back_2 { position: absolute; left: 50%; margin-left: -1.6426666667rem; top: 15.36rem; }

/*# sourceMappingURL=info.css.map */
