.header { width: 100%; }

.header .logo { width: 100%; height: 9.28rem; }

.headertitle { width: 100%; height: 2.56rem; font-size: 1.3653333333rem; color: #777B7F; }

.intergral { width: 7.8933333333rem; height: 7.8933333333rem; line-height: 7.8933333333rem; text-align: center; margin: 0 auto; background-color: #E8EBED; border-radius: 50%; box-shadow: 0px 0px 10px 10px #D3D2D2; position: relative; color: #787C80; font-size: 2.7306666667rem; margin-bottom: 0.96rem; }

.number { width: 10.24rem; height: 1.7066666667rem; line-height: 1.7066666667rem; color: #636668; background-color: #E7EAEC; margin: 0 auto; margin-top: 0.8533333333rem; margin-bottom: 1.152rem; font-size: 0.512rem; text-align: center; border-radius: 0.8533333333rem; }

.numbers_con { margin-top: 1.0666666667rem; margin-bottom: 1.0666666667rem; }

.numbers { width: 10.24rem; height: 1.7066666667rem; line-height: 1.7066666667rem; color: #636668; background-color: #E7EAEC; margin: 0 auto; margin-bottom: 0.1066666667rem; font-size: 0.512rem; text-align: center; border-radius: 0.8533333333rem; }

.list_pos { width: 9.8133333333rem; margin: 0 auto; margin-bottom: 1.7066666667rem; }

.list { width: 4.6933333333rem; height: 2.6453333333rem; font-size: 0.768rem; line-height: 0.768rem; border-radius: 0.2133333333rem; color: #777C7D; box-shadow: 0px 0px 10px 10px #D3D2D2; text-align: center; padding: 0.5333333333rem; box-sizing: border-box; }

/*# sourceMappingURL=integral.css.map */
