.list_con { background-color: #1c3d78; padding-top: 1.0666666667rem; }

.list { width: 14.9333333333rem; margin: 0 auto; margin-top: 1.0666666667rem; background-color: #FFFFFF; color: #333333; box-sizing: border-box; padding: 0.32rem; font-size: 1.024rem; margin-bottom: 1.28rem; }

.list .title { font-size: 0.6826666667rem; margin-bottom: 0.32rem; }

.list input { width: 14.08rem; margin-left: 0.2133333333rem; height: 1.2373333333rem; line-height: 1.2373333333rem; font-size: 0.6826666667rem; border: 0.0213333333rem solid #D6D6D6; box-sizing: border-box; padding: 0.2773333333rem; }

.list textarea { width: 14.08rem; height: 3.2rem; line-height: 1.0666666667rem; font-size: 0.6826666667rem; padding: 0.32rem; box-sizing: border-box; }

.list input:focus { border: 0.0213333333rem solid deepskyblue; }

.bottom { width: 8.5333333333rem; height: 1.7066666667rem; line-height: 1.7066666667rem; background-color: #FFFFFF; color: #333333; text-align: center; font-size: 0.768rem; border: none; border-radius: 0.1706666667rem; margin-left: 3.7333333333rem; margin-bottom: 1.0666666667rem; }

/*# sourceMappingURL=issue.css.map */
