.list_con { position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: #1c3d78; }

#baochun { display: none; }

.modification { position: fixed; top: 1.7066666667rem; right: 0.5333333333rem; font-size: 0.768rem; color: #FFFFFF; }

.title { width: 12.2453333333rem; margin: 0 auto; text-align: center; margin-top: 1.0666666667rem; position: relative; color: #FFFFFF; box-sizing: border-box; padding: 0.32rem; font-size: 1.3653333333rem; margin-bottom: 1.28rem; }

.list { width: 12.2453333333rem; margin: 0 auto; text-align: center; margin-top: 1.0666666667rem; background-color: #FFFFFF; color: #333333; box-sizing: border-box; padding: 0.32rem; font-size: 1.024rem; margin-bottom: 1.28rem; }

.list input { width: 6.4rem; height: 1.664rem; line-height: 1.664rem; font-size: 1.024rem; border: none; }

.list input:focus { border: 0.0213333333rem solid deepskyblue; }

.bottom { width: 12.2453333333rem; height: 1.7066666667rem; line-height: 1.7066666667rem; position: absolute; left: 50%; margin-left: -6.1226666667rem; bottom: 2.1333333333rem; text-align: center; background-color: #FFFFFF; color: #333333; box-sizing: border-box; font-size: 1.024rem; border-radius: 0.2133333333rem; }

/*# sourceMappingURL=myindex.css.map */
