.list_con { position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px; }

.header { width: 100%; box-shadow: 10px 10px 10px #C7C5C3; }

.header .logo { width: 100%; }

.header_botttom { width: 100%; height: 0.4266666667rem; background-color: #fff; }

.header_botttom .line { width: 0.9173333333rem; height: 0.0853333333rem; }

.list_pos { width: 100%; }

.title { width: 100%; height: 2.3466666667rem; color: #787C80; box-sizing: border-box; margin-bottom: 0.64rem; font-size: 1.1946666667rem; text-align: center; border-bottom: 0.0213333333rem solid #D9D9D9; }

.title img { width: 1.4506666667rem; height: 1.4506666667rem; margin-right: 0.4266666667rem; }

.title > p:nth-child(1) { padding-top: 0.32rem; padding-bottom: 0.1066666667rem; }

.title > p:nth-child(2) { font-size: 0.3413333333rem; }

.list { width: 13.44rem; height: 2.24rem; margin: 0 auto; margin-top: 0.2133333333rem; background-color: #EBEEF0; position: relative; }

.list .left { font-size: 1.0666666667rem; color: #767D82; }

.list .left img { width: 0.7253333333rem; height: 0.7466666667rem; margin-right: 0.32rem; }

.list .right { width: 0.4906666667rem; height: 0.6613333333rem; position: absolute; right: 1.3653333333rem; top: 0.8106666667rem; }

/*# sourceMappingURL=people_center.css.map */
