#text_container { margin-bottom: 2.1333333333rem; padding-top: 1.0666666667rem; }

.header { width: 16rem; text-align: center; }

.text { margin-top: 0.64rem; }

.text_up { width: 14.9333333333rem; margin: 0 auto; font-size: 0.5546666667rem; color: #333333; text-indent: 1.1093333333rem; line-height: 1.0666666667rem; letter-spacing: 0.0426666667rem; text-align: justify; }

.time { width: 16rem; height: 1.92rem; line-height: 1.92rem; text-align: center; font-size: 0.8533333333rem; color: #333333; position: fixed; left: 0px; bottom: 0px; background-color: #fff; }

.time input { border: none; background-color: rgba(0, 0, 0, 0); width: 4.48rem; font-size: 0.8533333333rem; color: red; }

/*# sourceMappingURL=read.css.map */
