.header { width: 100%; }

.header .logo { width: 100%; height: 9.28rem; }

.headertitle { width: 100%; height: 2.56rem; font-size: 1.3653333333rem; color: #777B7F; }

.headertitle img { width: 0.8533333333rem; height: 0.8533333333rem; margin-right: 0.5333333333rem; }

.list_pos { margin-bottom: 1.7066666667rem; }

.list { width: 13.12rem; height: 2.1333333333rem; line-height: 2.1333333333rem; text-align: center; margin: 0 auto; margin-top: 0.5333333333rem; box-shadow: 0px 0px 10px 10px  #C8C7C7; color: #787B7D; font-size: 0.5973333333rem; background-color: #FFFFFF; border-radius: 0.2133333333rem; }

.list .left { width: 4.6933333333rem; height: 2.56rem; line-height: 2.56rem; color: #333333; }

.list .right { width: 7.2533333333rem; height: 1.7066666667rem; line-height: 1.7066666667rem; color: #333333; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.applysccsess { width: 5.12rem; height: 1.7066666667rem; margin: 0 auto; margin-top: 1.0666666667rem; background-color: #E8EBED; color: #73757A; font-size: 0.5973333333rem; border-radius: 0.8533333333rem; }

/*# sourceMappingURL=record.css.map */
