.list_con { position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px; overflow: scroll; }

.header { width: 100%; }

.header .logo { width: 100%; height: 9.28rem; }

.headertitle { width: 100%; height: 2.56rem; font-size: 1.0rem; color: #777B7F; }

.headertitle img { width: 0.8533333333rem; height: 0.8533333333rem; margin-right: 0.5333333333rem; }

.list_pos { width: 10.88rem; height: 7.36rem; line-height: 7.36rem; margin: 0 auto; background-color: #fff; border-radius: 0.2133333333rem; box-shadow: 0px 0px 10px 10px #D3D2D2; position: relative; color: #767A7E; font-size: 0.9386666667rem; text-align: center; margin-bottom: 0.96rem; }

.list_pos .pos { position: absolute; top: 0px; right: 0.7466666667rem; width: 0.8533333333rem; height: 1.344rem; background-image: url(../image1/test_bg.png); background-repeat: no-repeat; background-size: cover; }

.content{font-size: 0.6rem;width:8rem;position: absolute;top: 1.5rem;left: 1.1rem;line-height: 1.3rem;}

.pos img { width: 0.3626666667rem; height: 0.7253333333rem; margin-top: -0.256rem; }

.condition { width: 10.6666666667rem; height: 2.0053333333rem; line-height: 2.0053333333rem; box-shadow: 10px 10px 10px  #B9B6B7; margin: 0 auto; margin-top: 0.768rem; text-align: center; position: relative; color: #1B1613; font-size: 0.5546666667rem; font-weight: 700; }

.condition .img_l { width: 0.2773333333rem; height: 2.0053333333rem; position: absolute; left: 0px; top: 0px; }

.condition .img_r { width: 0.2773333333rem; height: 2.0053333333rem; position: absolute; right: 0px; top: 0px; }

button { z-index: 2; margin: 0; padding: 0; list-style-type: none; border: none; }

button:active { list-style-type: none; border: none; }

button:hover { list-style-type: none; border: none; }

.click { width: 3.2853333333rem; height: 3.2853333333rem; display: block; font-size: 0.5973333333rem; margin: 0 auto; margin-top: 1.0666666667rem; line-height: 3.2853333333rem; background-color: #E8EBED; color: #797B80; text-align: center; border-radius: 50%; box-shadow: 10px 10px 10px  #B9B6B7; }

.intergral { width: 7.8933333333rem; height: 7.8933333333rem; line-height: 7.8933333333rem; text-align: center; margin: 0 auto; background-color: #E8EBED; border-radius: 50%; box-shadow: 0px 0px 10px 10px #D3D2D2; position: relative; color: #787C80; font-size: 2.7306666667rem; margin-bottom: 0.96rem; }

.intergral img { width: 0.8533333333rem; height: 0.8533333333rem; position: absolute; top: 1.1733333333rem; left: 50%; margin-left: -0.4266666667rem; }

.applysccsess { width: 5.12rem; height: 1.7066666667rem; margin: 0 auto; margin-top: 1.0666666667rem; background-color: #E8EBED; color: #77797E; font-size: 0.512rem; border-radius: 0.8533333333rem; }

/*# sourceMappingURL=test_wraning.css.map */
