body { background-image: url(../image1/d_bg2.png); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }

.title { width: 10.88rem; margin: 0 auto; margin-top: 2.88rem; margin-bottom: 0.64rem; font-size: 0.8rem; color: #C12629;text-align: center }

.list_pos { width: 11.52rem; min-height: 10.1333333333rem; margin: 0 auto; background-color: #fff; border-radius: 0.2133333333rem; box-shadow: 10px 10px 10px  #D3D2D2; position: relative; color: #767A7E; font-size: 0.9386666667rem; text-align: center; margin-bottom: 0.96rem; padding-top: 1.4933333333rem; box-sizing: border-box; }

.list_pos .pos { position: absolute; top: 0px; right: 0.7466666667rem; width: 0.8533333333rem; height: 1.344rem; }

.list_cons { width: 100%; line-height: 0.768rem; text-align: left; padding: 0rem 1.28rem; font-size: 0.5973333333rem; box-sizing: border-box; }

.list_cons .list { margin-bottom: 0.384rem; min-height: 0.768rem; line-height: 0.6826666667rem; }

.list_cons .list .right { padding-left: 0.32rem; }

.list .text { width: 1.7066666667rem; }

.list .text_r { width: 7.04rem; }

.list .text, .text_r { float: left; }

.zhiliao { margin-top: 1.0666666667rem; text-align: left}

.condition {width: 10.6666666667rem; height: 2.0053333333rem; line-height: 2.0053333333rem; box-shadow: 10px 10px 10px  #B9B6B7; margin: 0 auto; margin-top: 0.768rem; text-align: center; position: relative; color: #1B1613; font-size: 0.5546666667rem; font-weight: 700; }

.condition .img_l { width: 0.2773333333rem; height: 2.0053333333rem; position: absolute; left: 0px; top: 0px; }

.condition .img_r { width: 0.2773333333rem; height: 2.0053333333rem; position: absolute; right: 0px; top: 0px; }

.model { width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; z-index: 200; background-color: rgba(0, 0, 0, 0.4); display: none; }

.count_down { width: 5.5rem; height: 1.1306666667rem; background-color: #777B81; border-radius: 0.2133333333rem; margin: 0 auto; margin-top: 0.5333333333rem; color: #fff; font-size: 0.4266666667rem; box-sizing: border-box; position: relative; }

#dateShow{position: absolute;left:0.5rem;top:0.25rem;}

.count_down .center { width: 5.4rem; height: 1.0026666667rem; line-height: 1.0026666667rem; text-align: center; position: absolute; left: 0.064rem; top: 0.064rem; border: 0.064rem solid #FFF; border-radius: 0.2133333333rem; box-sizing: border-box; }

.list { text-align: center; width: 100%; }

#feed { display: none; width: 9.6rem; height: 5.0133333333rem; border-radius: 0.2133333333rem; background-color: rgba(0, 0, 0, 0.5); margin: 0 auto; margin-top: 1.7066666667rem; margin-bottom: 1.7066666667rem; padding: 0.5973333333rem 0.7466666667rem; box-sizing: border-box; font-size: 0.512rem; overflow: hidden; }

#feed #list_con { margin-top: 0.5333333333rem; }

#feed #list_con .list { margin-bottom: 0.5333333333rem; }

#feed #list_con .list .left { width: 6.6133333333rem; text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

#feed .list .right { width: 1.4933333333rem; }

.model .content { background-color: #DADADB; width: 10.6666666667rem; height: 4.6933333333rem; position: absolute; left: 50%; margin-left: -5.3333333333rem; top: 10.4533333333rem; border-radius: 0.2133333333rem; }

.model #go_back { position: absolute; left: 50%; margin-left: -1.6426666667rem; top: 15.36rem; }

button { z-index: 2; margin: 0; padding: 0; list-style-type: none; border: none; }

button:active { list-style-type: none; border: none; }

button:hover { list-style-type: none; border: none; }

.click { width: 3.2853333333rem; height: 3.2853333333rem; display: block; font-size: 0.5973333333rem; margin: 0 auto; margin-top: 2.7733333333rem; line-height: 3.2853333333rem; background-color: #C0282D; color: #FFFFFF; text-align: center; border-radius: 50%; }

.list_con .button_con { width: 8.5333333333rem; height: 3.4133333333rem; margin: 0 auto; margin-top: 1.3866666667rem; display: none; }

#success { display: none; }

#feedback { background-color: #E6E6E7; color: #282727; }

#feed_success { display: none; }

.check_in { float: left; width: 3.2853333333rem; height: 3.2853333333rem; font-size: 0.5973333333rem; margin: 0 auto; line-height: 3.2853333333rem; background-color: #C0282D; color: #FFFFFF; text-align: center; border-radius: 50%; }

.feedback { float: right; width: 3.2853333333rem; height: 3.2853333333rem; font-size: 0.5973333333rem; margin: 0 auto; line-height: 3.2853333333rem; background-color: #C0282D; color: #FFFFFF; text-align: center; border-radius: 50%; }

.bottom { z-index: -1; position: fixed; left: 0px; bottom: 0px; width: 16rem; height: 10.6666666667rem; }

/*# sourceMappingURL=the_party_leaning_take_room.css.map */
