.header { width: 100%; box-shadow: 10px 10px 10px #C7C5C3; }

.header .logo { width: 100%; }

.header_botttom { width: 100%; height: 0.4266666667rem; background-color: #fff; }

.header_botttom .line { width: 0.9173333333rem; height: 0.0853333333rem; }

.title { width: 100%; height: 2.3466666667rem; color: #777778; box-sizing: border-box; margin-bottom: 0.64rem; font-size: 1.024rem; text-align: center; border-bottom: 0.0213333333rem solid #D9D9D9; }

.title img { width: 1.4506666667rem; height: 1.4506666667rem; margin-right: 0.4266666667rem; }

#list_con { width: 12.8rem; margin: 0 auto; margin-top: 1.0666666667rem; }

#list_con .list_content { margin-top: 0.5333333333rem; }

#list_con .list_content .rights { width: 1.792rem; height: 1.792rem; line-height: 1.792rem; text-align: center; font-size: 0.64rem; border: 0.064rem solid #E5E5E5; border-radius: 0.2133333333rem; color: #787C80; }

#list_con .list_content .active { border: 0.064rem solid #902D22; color: #902D22; }

#list_con .list { width: 10.6666666667rem; height: 1.792rem; background-color: #E7EAEC; border-radius: 0.2133333333rem; position: relative; }

.list .right { position: absolute; top: 0.064rem; right: 0.064rem; width: 9.1733333333rem; height: 1.664rem; line-height: 1.664rem; background-color: #fff; border-radius: 0.2133333333rem; text-align: center; font-size: 0.64rem; color: #787C80; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.list .left { position: absolute; width: 0.768rem; height: 0.768rem; border: 2px solid #787C80; border-radius: 50%; line-height: 0.768rem; text-align: center; left: 0.32rem; top: 0.448rem; font-size: 0.5973333333rem; color: #787C80; }

/*# sourceMappingURL=the_synth_take.css.map */
