body { background-image: url(../image1/d_bg2.png); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }

.title { width: 10.88rem; margin: 0 auto; margin-top: 2.88rem; margin-bottom: 0.64rem; font-size: 1.3653333333rem; color: #C12629; }

.list_pos { width: 10.88rem; height: 10.0266666667rem; line-height: 7.36rem; margin: 0 auto; background-color: #fff; border-radius: 0.2133333333rem; box-shadow: 10px 10px 10px  #D3D2D2; position: relative; color: #767A7E; font-size: 0.9386666667rem; text-align: center; margin-bottom: 0.96rem; }

.list_pos textarea { outline: none; width: 10.88rem; height: 8.5333333333rem; border: none; position: absolute; top: 1.4933333333rem; left: 0rem; padding: 0.4266666667rem; font-size: 0.5546666667rem; color: #333333; box-sizing: border-box; }

.list_pos .pos { position: absolute; top: 0px; right: 0.7466666667rem; width: 0.8533333333rem; height: 1.344rem; font-size: 0.512rem; }

.pos img { width: 0.3626666667rem; height: 0.7253333333rem; margin-top: -0.256rem; }

button { z-index: 2; margin: 0; padding: 0; list-style-type: none; border: none; }

button:active { list-style-type: none; border: none; }

button:hover { list-style-type: none; border: none; }

.click { width: 3.2853333333rem; height: 3.2853333333rem; display: block; font-size: 0.5973333333rem; margin: 0 auto; margin-top: 1.0666666667rem; line-height: 3.2853333333rem; background-color: #C0282D; color: #FFFFFF; text-align: center; border-radius: 50%; }

.seccess { display: none; }

.applysccsess { width: 5.12rem; height: 1.7066666667rem; margin: 0 auto; margin-top: 1.0666666667rem; background-color: #C0282D; color: #fff; font-size: 0.512rem; border-radius: 0.8533333333rem; }

.applysccsess img { width: 0.5333333333rem; height: 0.5333333333rem; margin-left: 0.2133333333rem; }

.img_pos { position: fixed; left: 1.7066666667rem; bottom: 3.2rem; width: 1.92rem; height: 2.6666666667rem; }

.bottom { z-index: -1; position: fixed; left: 0px; bottom: 0px; width: 16rem; height: 8.32rem; }

.model { width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; z-index: 200; background-color: rgba(0, 0, 0, 0.4); display: none; }

.model .content { background-color: #DADADB; width: 10.6666666667rem; height: 4.6933333333rem; position: absolute; left: 50%; margin-left: -5.3333333333rem; top: 10.4533333333rem; border-radius: 0.2133333333rem; }

.model #go_back { position: absolute; left: 50%; margin-left: -1.6426666667rem; top: 15.36rem; }

/*# sourceMappingURL=the_party_leaning_must_the_feed.css.map */
