.list_con { padding-bottom: 1.0666666667rem; }

.header { width: 100%; box-shadow: 10px 10px 10px #C7C5C3; }

.header .logo { width: 100%; }

.header_botttom { width: 100%; height: 0.4266666667rem; background-color: #fff; }

.header_botttom .line { width: 0.9173333333rem; height: 0.0853333333rem; }

.title { width: 100%; line-height: 1.792rem; color: #777778; box-sizing: border-box; margin-bottom: 0.64rem; font-size: 0.896rem; text-align: center; border-bottom: 0.0213333333rem solid #D9D9D9; }

.list_cons { width: 12.8rem; margin: 0 auto; line-height: 0.768rem; text-align: left; padding: 0rem 1.28rem; font-size: 0.5973333333rem; box-sizing: border-box; color: #757C7F; }

.list_cons .list { margin-bottom: 0.384rem; min-height: 0.768rem; line-height: 0.6826666667rem; }

.list_cons .list .right { padding-left: 0.32rem; }

.list .text { width: 2.9866666667rem; }

.list .text_r { width: 7.04rem; }

.list .text, .text_r { float: left; }

.zhiliao { margin-top: 1.0666666667rem; }

.condition { width: 10.6666666667rem; height: 2.0053333333rem; line-height: 2.0053333333rem; box-shadow: 10px 10px 10px  #B9B6B7; margin: 0 auto; margin-top: 0.768rem; text-align: center; position: relative; color: #1B1613; font-size: 0.5546666667rem; font-weight: 700; }

.condition .img_l { width: 0.2773333333rem; height: 2.0053333333rem; position: absolute; left: 0px; top: 0px; }

.condition .img_r { width: 0.2773333333rem; height: 2.0053333333rem; position: absolute; right: 0px; top: 0px; }

.model { width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; z-index: 200; background-color: rgba(0, 0, 0, 0.4); display: none; }

.count_down { display: none; width: 5.504rem; height: 1.1306666667rem; background-color: #777B81; border-radius: 0.2133333333rem; margin: 0 auto; margin-top: 0.5333333333rem; color: #fff; font-size: 0.4266666667rem; box-sizing: border-box; position: relative; }

#dateShow { position: absolute; left: 0.5333333333rem; top: 0.256rem; }

.count_down .center { width: 5.3973333333rem; height: 1.0026666667rem; line-height: 1.0026666667rem; text-align: center; position: absolute; left: 0.064rem; top: 0.064rem; border: 0.064rem solid #FFF; border-radius: 0.2133333333rem; box-sizing: border-box; }

#feed { display: none; width: 9.6rem; height: 5.0133333333rem; border-radius: 0.2133333333rem; background-color: #ECECEC; margin: 0 auto; margin-top: 1.7066666667rem; margin-bottom: 1.7066666667rem; padding: 0.5973333333rem 0.7466666667rem; box-sizing: border-box; font-size: 0.512rem; overflow: hidden; }

#feed #list_con { margin-top: 0.5333333333rem; }

#feed #list_con .list { margin-bottom: 0.5333333333rem; }

#feed #list_con .list .left { width: 6.6133333333rem; text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

#feed .list .right { width: 1.4933333333rem; }

.model .content { background-color: #DADADB; width: 10.6666666667rem; height: 4.6933333333rem; position: absolute; left: 50%; margin-left: -5.3333333333rem; top: 10.4533333333rem; border-radius: 0.2133333333rem; }

.model #go_back { position: absolute; left: 50%; margin-left: -1.6426666667rem; top: 15.36rem; }

button { z-index: 2; margin: 0; padding: 0; list-style-type: none; border: none; }

button:active { list-style-type: none; border: none; }

button:hover { list-style-type: none; border: none; }

.click { width: 3.2853333333rem; height: 3.2853333333rem; display: block; font-size: 0.5973333333rem; margin: 0 auto; margin-top: 2.7733333333rem; line-height: 3.2853333333rem; background-color: #787C80; color: #FFFFFF; text-align: center; border-radius: 50%; }

.list_con .button_con { width: 8.5333333333rem; height: 3.4133333333rem; margin: 0 auto; margin-top: 1.3866666667rem; display: none; }

#success { display: none; }

#feedback { background-color: #E6E6E7; color: #282727; }

#feed_success { display: none; }

.check_in { float: left; width: 3.2853333333rem; height: 3.2853333333rem; font-size: 0.5973333333rem; margin: 0 auto; line-height: 3.2853333333rem; background-color: #787C80; color: #FFFFFF; text-align: center; border-radius: 50%; }

.feedback { float: right; width: 3.2853333333rem; height: 3.2853333333rem; font-size: 0.5973333333rem; margin: 0 auto; line-height: 3.2853333333rem; background-color: #C0282D; color: #FFFFFF; text-align: center; border-radius: 50%; }

.bottom { z-index: -1; position: fixed; left: 0px; bottom: 0px; width: 16rem; height: 10.6666666667rem; }

/*# sourceMappingURL=the_synth_take_activity.css.map */
