.header { width: 100%; box-shadow: 10px 10px 10px #C7C5C3; }

.header .logo { width: 100%; }

.header_botttom { width: 100%; height: 0.4266666667rem; background-color: #fff; }

.header_botttom .line { width: 0.9173333333rem; height: 0.0853333333rem; }

#title { width: 100%; height: 2.3466666667rem; color: #777778; box-sizing: border-box; margin-bottom: 0.64rem; font-size: 0.8rem; text-align: center; border-bottom: 0.0213333333rem solid #D9D9D9;line-height:2.3rem; }

.list_pos .text { color: #636668; font-size: 0.5973333333rem; line-height: 0.768rem; width: 12.8rem; margin: 0 auto; margin-top: 0.96rem; margin-bottom: 0.96rem; }
.time1 { float: left; width: 8.5333333333rem; margin-top: 0.5rem; color: #101010; font-size: 0.512rem; }

.time { float: left; width: 8.5333333333rem; margin-top: 0.5rem; color: #101010; font-size: 0.512rem; }

.time1 .left { float: left; margin-right: 0.2133333333rem; }

.time1 .right { float: left; padding-right: 0.2133333333rem; color: #757878; font-size: 0.5973333333rem; }

.time .left { float: left; margin-right: 0.2133333333rem; }

.time .right { float: left; padding-right: 0.2133333333rem; color: #757878; font-size: 0.5973333333rem; }
.zhiliao { width: 12.8rem; margin: 0 auto; padding: 0.5333333333rem; font-size: 0.512rem; color: #636668; background-color: #E6E6E7; border-radius: 0.2133333333rem; box-sizing: border-box;margin-top:0.6rem }

.zhiliao .left { width: 2.3466666667rem; }

.zhiliao .list_a { width: 8.32rem; line-height: 0.768rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.button_con { width: 8.5333333333rem; margin: 0 auto; margin-top: 0.7466666667rem; }

button { z-index: 2; margin: 0; padding: 0; list-style-type: none; border: none; width: 3.2853333333rem; height: 3.2853333333rem; display: block; font-size: 0.5973333333rem; margin: 0 auto; margin-top: 1.0666666667rem; line-height: 3.2853333333rem; text-align: center; border-radius: 50%; }

button:active { list-style-type: none; border: none; }

button:hover { list-style-type: none; border: none; }

button:checked { list-style-type: none; border: none; }

.click { background-color: #787C80; color: #FFFFFF; }

#success { display: none; }

#feedback { background-color: #E6E6E7; color: #282727; }

#feed_success { display: none; }

.img_pos { position: fixed; left: 1.7066666667rem; bottom: 3.2rem; width: 1.92rem; height: 2.6666666667rem; }

.bottom { z-index: -1; position: fixed; left: 0px; bottom: 0px; width: 16rem; height: 8.32rem; }

.count_down { display: none; width: 5.5rem; height: 1.1306666667rem; background-color: #777B81; border-radius: 0.2133333333rem; margin: 0 auto; margin-top: 0.5333333333rem; color: #fff; font-size: 0.4266666667rem; box-sizing: border-box; position: relative; }

#dateShow{position: absolute;left:0.5rem;top:0.25rem;}

.count_down .center { width: 5.4rem; height: 1.0026666667rem; line-height: 1.0026666667rem; text-align: center; position: absolute; left: 0.064rem; top: 0.064rem; border: 0.064rem solid #FFF; border-radius: 0.2133333333rem; box-sizing: border-box; }

.list { text-align: center; width: 100%; }

#feed { width: 9.6rem; height: 5.0133333333rem; border-radius: 0.2133333333rem; box-shadow: 10px 10px 10px #D3D2D2; background-color: rgba(0, 0, 0, 0.1); margin: 0 auto; margin-top: 0.4266666667rem; margin-bottom: 1.0666666667rem; padding: 0.5973333333rem 0.7466666667rem; box-sizing: border-box; font-size: 0.512rem; overflow: hidden; }

#feed #list_con { margin-top: 0.5333333333rem; }

#feed #list_con .list { margin-bottom: 0.5333333333rem; }

#feed #list_con .list .left { width: 6.6133333333rem; text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

#feed .list .right { width: 1.4933333333rem; }

/*# sourceMappingURL=the_synth_must_activity.css.map */
