body { background-image: url(../image1/d_bg.png); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }

.content { width: 14.08rem; height: 24.6186666667rem; margin: 0 auto; margin-top: 1.1946666667rem; position: relative; background-image: url(../image1/bg_line2.png); background-repeat: no-repeat; background-size: 14.08rem 24.6186666667rem; }

.content .img_pos { position: absolute; right: 0.5973333333rem; top: 1.1946666667rem; width: 1.92rem; height: 2.6666666667rem; }

.list_pos { width: 100%; padding-top: 5.4826666667rem; }

.title { width: 100%; margin-bottom: 1.28rem; color: #BF292F; }

.title .img1 { width: 1.7706666667rem; height: 1.8133333333rem; margin-right: 0.5333333333rem; }

.title .img2 { width: 0.0853333333rem; height: 1.8133333333rem; margin-right: 0.64rem; }

.title .big { font-size: 1.3653333333rem; }

#list_con { width: 12.8rem; margin: 0 auto; margin-top: 2.3466666667rem; }

#list_con .list_content { margin-top: 0.5333333333rem; }

#list_con .list_content .rights { width: 1.792rem; height: 1.792rem; line-height: 1.792rem; text-align: center; font-size: 0.64rem; border: 0.064rem solid #E5E5E5; border-radius: 0.2133333333rem; color: #787C80; }

#list_con .list_content .active { border: 0.064rem solid #902D22; color: #902D22; }

#list_con .list { width: 10.6666666667rem; height: 1.792rem; background-color: #E9737A; border-radius: 0.2133333333rem; position: relative; }

.list .right { position: absolute; top: 0.064rem; right: 0.064rem; width: 9.1733333333rem; height: 1.664rem; line-height: 1.664rem; background-color: #fff; border-radius: 0.2133333333rem; text-align: center; font-size: 0.64rem; color: #787C80; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.list .left { position: absolute; width: 0.768rem; height: 0.768rem; border: 2px solid #fff; border-radius: 50%; line-height: 0.768rem; text-align: center; left: 0.32rem; top: 0.448rem; font-size: 0.5973333333rem; color: #fff; }

/*# sourceMappingURL=the_party_leaning_must.css.map */
