body { background-image: url(../image1/d_bg2.png); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }

.title { width: 10.88rem; margin: 0 auto; margin-top: 2.88rem; margin-bottom: 0.64rem; font-size: 0.8rem; color: #C12629; text-align: center; }

.list_pos { width: 10.88rem; margin: 0 auto; background-color: #fff; border-radius: 0.2133333333rem; box-shadow: 10px 10px 10px #D3D2D2; position: relative; color: #767A7E; font-size: 0.9386666667rem; text-align: center; margin-bottom: 0.96rem; }

.list_pos .pos { position: absolute; top: 0px; right: 0.7466666667rem; width: 0.8533333333rem; height: 1.344rem; background-image: url(../image1/bg_3.png); background-repeat: no-repeat; background-size: cover; }

.pos img { width: 0.3626666667rem; height: 0.7253333333rem; margin-top: -0.256rem; }

.time1 { float: left; width: 8.5333333333rem; margin-top: 1.28rem; color: #101010; font-size: 0.512rem; }

.time { float: left; width: 8.5333333333rem; margin-top: 0.64rem; color: #101010; font-size: 0.512rem; }

.time1 .left { float: left; margin-right: 0.2133333333rem; }

.time1 .right { float: left; padding-right: 0.2133333333rem; color: #757878; font-size: 0.5973333333rem; }

.time .left { float: left; margin-right: 0.2133333333rem; }

.time .right { float: left; padding-right: 0.2133333333rem; color: #757878; font-size: 0.5973333333rem; }

.button_con { width: 8.5333333333rem; margin: 0 auto; }

button { z-index: 2; margin: 0; padding: 0; list-style-type: none; border: none; width: 3.2853333333rem; height: 3.2853333333rem; display: block; font-size: 0.5973333333rem; margin: 0 auto; margin-top: 1.0666666667rem; line-height: 3.2853333333rem; text-align: center; border-radius: 50%; }

button:active { list-style-type: none; border: none; }

button:hover { list-style-type: none; border: none; }

.click { background-color: #C0282D; color: #FFFFFF; }

#success { display: none; }

#feedback { background-color: #E6E6E7; color: #282727; }

#feed_success { display: none; }

.img_pos { position: fixed; left: 1.7066666667rem; bottom: 3.2rem; width: 1.92rem; height: 2.6666666667rem; }

.bottom { z-index: -1; position: fixed; left: 0px; bottom: 0px; width: 16rem; height: 8.32rem; }

.count_down { display: none; width: 5.504rem; height: 1.1306666667rem; background-color: #777B81; border-radius: 0.2133333333rem; margin: 0 auto; margin-top: 0.5333333333rem; color: #fff; font-size: 0.4266666667rem; box-sizing: border-box; position: relative; }

#dateShow { position: absolute; left: 0.5333333333rem; top: 0.256rem; }

.count_down .center { width: 5.3973333333rem; height: 1.0026666667rem; line-height: 1.0026666667rem; text-align: center; position: absolute; left: 0.064rem; top: 0.064rem; border: 0.064rem solid #FFF; border-radius: 0.2133333333rem; box-sizing: border-box; }

.list { text-align: center; width: 100%; }

#feed { display: none; width: 9.6rem; height: 5.0133333333rem; border-radius: 0.2133333333rem; box-shadow: 10px 10px 10px #D3D2D2; background-color: rgba(0, 0, 0, 0.1); margin-top: 0.4266666667rem; margin-left: 2.3466666667rem; padding: 0.5973333333rem 0.7466666667rem; box-sizing: border-box; font-size: 0.512rem; overflow: hidden; }

#feed #list_con { margin-top: 0.5333333333rem; }

#feed #list_con .list { margin-bottom: 0.5333333333rem; }

#feed #list_con .list .left { width: 6.6133333333rem; text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

#feed .list .right { width: 1.4933333333rem; }

/*# sourceMappingURL=the_party_leaning_must_activity.css.map */
