body { background-image: url(../img/bg_1.png); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }

.content { width: 14.08rem; height: 24.6186666667rem; margin: 0 auto; margin-top: 1.1946666667rem; position: relative; background-image: url(../image1/bg_line2.png); background-repeat: no-repeat; background-size: 14.08rem 24.6186666667rem; }

.content .img_pos { position: absolute; right: 0.5973333333rem; top: 1.1946666667rem; width: 1.92rem; height: 2.6666666667rem; }

.list_pos { width: 100%; padding-top: 5.4826666667rem; }

.title { width: 100%; margin-bottom: 1.28rem; color: #BF292F; }

.title .img1 { width: 1.7706666667rem; height: 1.8133333333rem; margin-right: 0.5333333333rem; }

.title .img2 { width: 0.0853333333rem; height: 1.8133333333rem; margin-right: 0.64rem; }

.title .big { font-size: 1.3653333333rem; }

#list_con { width: 10.6666666667rem; margin: 0 auto; margin-top: 2.3466666667rem; }

#list_con .list { width: 10.6666666667rem; height: 1.792rem; margin-top: 0.5333333333rem; background-color: #E9737A; border-radius: 0.2133333333rem; position: relative; }

.list .right { width: 9.1733333333rem; height: 1.664rem; line-height: 1.664rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background-color: #fff; border-radius: 0.2133333333rem; text-align: center; color: #E9737A; }

.showmore { width: 1.7066666667rem; height: 0.8533333333rem; display: block; margin: 0 auto; margin-top: 0.5333333333rem; }

/*# sourceMappingURL=the_party_leaning.css.map */
