body { background-image: url(../image1/d_bg2.png); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }

.title { width: 10.88rem; margin: 0 auto; margin-top: 2.88rem; margin-bottom: 0.64rem; font-size: 1.3653333333rem; color: #C12629; }

.title { width: 10.88rem; margin: 0 auto; margin-top: 2.88rem; margin-bottom: 0.64rem; }

.title input { width: 10.88rem; font-size: 1.3653333333rem; color: #C12629; border: none; outline: none; -webkit-appearance: none; border-radius: 0; background-color: rgba(0, 0, 0, 0); }

.list_pos { width: 11.52rem; height: 8.448rem; margin: 0 auto; padding: 1.7066666667rem 0.5333333333rem; box-sizing: border-box; background-color: #fff; border-radius: 0.2133333333rem; box-shadow: 10px 10px 10px  #D3D2D2; position: relative; color: #767A7E; font-size: 0.9386666667rem; margin-bottom: 0.96rem; }

.list_pos .pos { position: absolute; top: 0px; right: 0.7466666667rem; width: 0.8533333333rem; height: 1.344rem; background-image: url(../image1/bg_3.png); background-repeat: no-repeat; background-size: cover; }

.pos img { width: 0.3626666667rem; height: 0.7253333333rem; margin-top: -0.256rem; }

.list_pos .list .left { width: 2.56rem; font-size: 0.512rem; color: #0D0D0A; }

.list_pos .list input { width: 7.872rem; color: #88878D; font-size: 0.5973333333rem; border: none; outline: none; -webkit-appearance: none; border-radius: 0; }

.list_pos .list1 { padding-bottom: 0.4266666667rem; }

.list_pos .list2 { padding-bottom: 1.7066666667rem; }

.introduction { width: 12.2453333333rem; height: 7.68rem; margin-top: 0.64rem; color: #333333; font-size: 0.8533333333rem; background-color: #FFFFFF; border-radius: 0.2133333333rem; font-size: 0.512rem; box-sizing: border-box; padding: 0.32rem; }

.wraning { width: 5.6746666667rem; height: 0.8533333333rem; line-height: 0.8533333333rem; text-align: center; margin: 0 auto; margin-top: 0.64rem; color: #333333; font-size: 0.4266666667rem; background-color: #FFFFFF; border-radius: 0.2133333333rem; }

button { z-index: 2; margin: 0; padding: 0; list-style-type: none; border: none; }

button:active { list-style-type: none; border: none; }

button:hover { list-style-type: none; border: none; }

#apply { width: 3.2853333333rem; height: 3.2853333333rem; display: block; font-size: 0.5973333333rem; margin: 0 auto; margin-top: 3.2rem; line-height: 3.2853333333rem; background-color: #C0282D; color: #FFFFFF; text-align: center; border-radius: 50%; }

.seccess { display: none; }

.applysccsess { width: 5.12rem; height: 1.7066666667rem; margin: 0 auto; margin-top: 3.2rem; background-color: #C0282D; color: #fff; font-size: 0.512rem; border-radius: 0.8533333333rem; }

.applysccsess img { width: px2remI(27); height: 0.5333333333rem; margin-left: 0.2133333333rem; }

.img_pos { position: fixed; left: 1.7066666667rem; bottom: 3.2rem; width: 1.92rem; height: 2.6666666667rem; }

.bottom { z-index: -1; position: fixed; left: 0px; bottom: 0px; width: 16rem; height: 8.32rem; }

/*# sourceMappingURL=wanttrain.css.map */
